<h2>LQIP blurry</h2>

<ResponsiveImage @image="assets/images/lqip/inline.jpg"/>

<h2>LQIP color</h2>

<ResponsiveImage @image="assets/images/lqip/color.jpg"/>



<h2>Fixed</h2>

<ResponsiveImage @width={{200}} @image="assets/images/test.png"/>

<h2>Responsive</h2>

<ResponsiveImage @image="assets/images/test.png"/>


