<h1>Ember Responsive Image</h1>

<h2>Cloudinary</h2>

<ResponsiveImage @src={{cloudinary-provider "samples/animals/three-dogs"}}/>

<ResponsiveImage @src={{cloudinary-provider "samples/animals/three-dogs"}} @width={{160}}/>

<h2>Local</h2>

<ResponsiveImage @src="/assets/images/docs/lqip-blurhash.jpg"/>

<ResponsiveImage @src="/assets/images/docs/dog.jpg" @width={{320}}/>
<ResponsiveImage @src="/assets/images/docs/lqip-color.jpg" @width={{320}}/>
<ResponsiveImage @src="/assets/images/docs/lqip-blurhash.jpg" @width={{320}}/>
