<h1>Ember Responsive Image</h1>

<h2>Cloudinary</h2>

<ResponsiveImage @src={{responsive-image-cloudinary-provider "samples/animals/three-dogs" transformations="e_grayscale"}}/>

<ResponsiveImage @src={{responsive-image-cloudinary-provider "samples/animals/three-dogs" formats=(array "webp" "avif")}} @width={{160}}/>

<h2>Local</h2>

<ResponsiveImage @src="/assets/images/docs/lqip-blurhash.jpg"/>

<ResponsiveImage @src="/assets/images/docs/dog.jpg" @width={{320}}/>
<ResponsiveImage @src="/assets/images/docs/lqip-color.jpg" @width={{320}}/>
<ResponsiveImage @src="/assets/images/docs/lqip-blurhash.jpg" @width={{320}}/>
