name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  TURBO_API: http://127.0.0.1:9080
  TURBO_TOKEN: foo-123
  TURBO_TEAM: foo

jobs:
  prebuild:
    name: 'Prebuild shared packages'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Prebuild
        run: pnpm prebuild

  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    needs: 'prebuild'
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint
        run: pnpm lint

  test:
    name: 'Tests'
    runs-on: ubuntu-latest
    needs: 'prebuild'
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Tests
        run: pnpm test
      - name: Upload test artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: '**/playwright-report/**/*'

  floating_tests:
    name: 'Floating Dependencies'
    runs-on: ubuntu-latest
    needs: 'test'
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --no-lockfile
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Tests
        run: pnpm test

  # ember-try-scenarios:
  #   name: ${{ matrix.try-scenario }}
  #   runs-on: ubuntu-latest
  #   needs: 'test'
  #   timeout-minutes: 10

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       try-scenario:
  #         - ember-lts-4.12
  #         - ember-lts-5.4
  #         - ember-lts-5.8
  #         - ember-release
  #         - ember-beta
  #         - ember-canary
  #         - embroider-safe
  #         - embroider-optimized

  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: pnpm/action-setup@v4
  #     - uses: actions/setup-node@v5
  #       with:
  #         node-version: 20
  #         cache: 'pnpm'
  #     - name: Install Dependencies
  #       run: pnpm install --frozen-lockfile
  #     - name: TurboRepo local server
  #       uses: felixmosh/turborepo-gh-artifacts@v3
  #       with:
  #         repo-token: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Run Tests
  #       run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup --- pnpm turbo test
  #       working-directory: apps/ember-test-app
