name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for trusted publishing using OIDC
  contents: write
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 20
      # Ensure npm 11.5.1 or later is installed for OIDC
      - name: Update npm
        run: npm install -g npm@latest

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
